<%- include ("partials/header.ejs")%>




<!-- this is the item request form -->

<div  class="background-color">
  <h1 class="pb-3 text-center">Request an Item</h1>


 <form class="text-center card-width card-color card-border pt-3  pb-3" action="/request" method="post"
   <input class = "mb-3" type="email" name="test-email" placeholder = "Enter Your Email" >

   <input class = "mb-3" type="text" name="name" placeholder = "Enter Your Name">
   <input class = "mb-3" type="email" name="email" placeholder = "Enter Your Email" >

   <input  class = "mb-3" type="text" name="committee" placeholder = "Committee Name">
   <input class = "mb-3" type="text" name="event" placeholder = "Event Needed for">
   <input class = "mb-3" type="text" name="quantity" placeholder = "Quantity of Item">
   <!-- <input class = "mb-3" type="text" name="itemDescriptions" placeholder = "Description Of Item"> -->


   <select name = "itemDescription" class = "mb-3 ml-3 mr-3">
     <option value="value" selected>Select Item Name</option>
     <% for (i in InventoryItems){%>
       <% let dropDownItemName = InventoryItems[i].itemDescription%>
       <option value = <%=dropDownItemName%>  > <%=dropDownItemName%> </option>
       <% } %>
      </select>


   <select name = "itemCode" class = "ml-5 mr-5">
     <option value="value" selected>Select Item Code</option>
     <% for (i in InventoryItems){%>
       <% let dropDownItemName = InventoryItems[i].itemCode + ": " + InventoryItems[i].itemDescription %>
       <% let dropDownItemValue = InventoryItems[i].itemCode %>
       <option value = <%=dropDownItemValue%>  > <%=dropDownItemName%> </option>
       <% } %>
      </select>





 <div class="text-center mt-5 pb-5 "><!-- left div-->
   <button class="btn btn-primary" type="Submit" name="button">Request</button>
 </div>

 </form>
</div>






<!-- //-------------------------------------------------------------------------------------------------------------- -->





<%- include ("partials/footer.ejs")%>
