<%- include ("partials/header.ejs")%>

<div class = "background-color">
    <h1 class="text-center ">Order Summary</h1>
    <form class="form-inline d-flex justify-content-center md-form form-sm">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search Recent Requests By Item Code"
        aria-label="Search">
      <button class="fas fa-search" type = "submit" aria-hidden="true"></button></button>
    </form>

    <div class=" text-center mt-5" >

            <% for (i in ItemsToRender) {%>

              <div class = "background-color">

              <div class="card-width card-color card-border pt-3 pb-3 pl-2 mb-3  " >
              <a>
              </a>
              <h3 >Item: <%=ItemsToRender[i].itemDescription%> </h3>
              <p class="card-text">Quantity Requested: <%=ItemsToRender[i].quantity%> </p>
              <p class="card-text">Requested By: <%=ItemsToRender[i].name%></p>
              <p class="card-text">Item code: <%=ItemsToRender[i].itemCode%> </p>
              <p class="card-text">Event needed for: <%=ItemsToRender[i].event%></p>
              </div>
            </div>

             <div class = "background-color pb-3">
               </div>

              <% } %>


        </div>
  </div>



<%- include ("partials/footer.ejs")%>
